
<div id="global-header">
  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
        <div class="padded">
          <span><strong>CWS-CARES</strong></span>
          <span class="badge-environment half-gap-left">Environment Name</span>
        </div>
      </div>
    </div>
  </div> 
</div> 

<div id="page-header">
  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
        <h1>Services and Resources<h1>  
      </div>
    </div>
  </div> 
</div> 


<div class="container" id="main-content"> 
  <div class="row">
    <div class="col-md-12">
      <div style="margin: 45px 0px 15px 0px">
        <h3>Services</h3>
        <p> The following are links to pre-production or production environments. Due to continuous product improvements, content, colors and sizes are subject to change. </p>
      </div>
    </div>
  </div>

  <div class="row">

  <div class="col-md-4">
  <div class="card">
    <div class="card-header bg-purple">
      <span class="fa-stack  bg-purple">
      <i class="fa fa-history fa-stack-1x c-white"></i>
      </span>
      <div class="c-white half-gap-left">Snapshot</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="double-gap-top">
              <p> Search for people and their past child welfare history by using the Child Welfare History Snapshot tool.</p>
              <% if @snapshot_url %>
                <%= link_to "Child Welfare History Snapshot Tool", @snapshot_url %>
              <% else %>
                <u>Child Welfare History Snapshot Tool</u>
              <% end %>
          </div>
        </div>
      </div> 
  </div>
</div>
</div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-purple">
          <span class="fa-stack  bg-purple">
          <i class="fa fa-phone fa-stack-1x c-white"></i>
          </span>
          <div class="c-white half-gap-left">Hotline</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="double-gap-top">
                  <p>Create child abuse screenings by entering pertinent information/allegations; searching for child welfare history; and determining the level of risk of abuse and/or neglect for assignment.</p>
                  <% if @hotline_url %>
                    <%= link_to "Hotline Screener Tool", @hotline_url %>
                  <% else %>
                    <u>Hotline Screener Tool</u>
                  <% end %>
              </div>
            </div>
          </div> 
      </div>
    </div>
  </div>

  <div class="col-md-4">
  <div class="card">
    <div class="card-header bg-purple">
      <span class="fa-stack  bg-purple">
      <i class="fa fa-home c-white"></i>
      </span>
      <div class="c-white half-gap-left">CALS</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="double-gap-top">
              <p>Search CWS/CMS, LIS and FAS data for Facilities, Children associated to facilities and Facility Complaint History.</p>
              <% if @facility_url %>
                <%= link_to "Facility and Home Search and Profile", @facility_url %>
              <% else %>
                <u>Facility and Home Search and Profile</u>
              <% end %>
              <hr>
              <p>View and create RFA applications for potential applicants looking to provide safe homes for children.</p>
              <% if @cals_url %>
                <%= link_to "Resource Family Application", @cals_url %>
              <% else %>
                <u>Resource Family Application</u>
              <% end %>
          </div>
        </div>
      </div> 
  </div>
</div>
</div>


  <div class="col-md-12">
    <div style="margin: 45px 0px 15px 0px">
      <h3>Resources</h3>
    </div>
  </div>


    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-dark-grey">
          <span class="fa-stack  bg-dark-grey">
          <i class="fa fa-info c-white"></i>
          </span>
          <div class="c-white half-gap-left">CWS-CARES Training <br>On-Demand </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="double-gap-top">
                  <p>Job aids, demo videos and other training tools are available for staff to learn CWS-CARES at their own pace.</p>
                  <% if @job_aids_url %>
                    <%= link_to "Job Aids Portal", @job_aids_url %>
                  <% else %>
                    <u>Job Aids Portal</u>
                  <% end %>
              </div>
            </div>
          </div> 
      </div>
    </div>
  </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-dark-grey">
          <span class="fa-stack  bg-dark-grey">
          <i class="fa fa-sticky-note-o c-white"></i>
          </span>
          <div class="c-white half-gap-left">Release Notes</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="double-gap-top">
                  <p>Visit Github to see a log of new features, improvements and bug fixes organized by their release dates.</p>
                  <% if @release_notes_url %>
                    <%= link_to "CWDS Release Notes" , @release_notes_url %>
                  <% else %>
                    <u>CWDS Release Notes</u>
                  <% end %>
              </div>
            </div>
          </div> 
      </div>
    </div>
  </div>
</div>
